<div class="container">
<h1>Welcome <%= @user.first_name %> <%= @user.last_name %>!</h1>

<a href="/fxtrans/new">Create an FX Request</a>

<h3>OPEN FX's REQUEST</h3>
  <table>
    <tr>
      <th>ID</th>
      <th>ZIPCODE</th>
      <th>AMOUNT</th>
      <th>CURRENCY YOU HAVE</th>
      <th>AT</th>
      <th>EXPECTED VALUE</th>
      <th>CURRENCY YOU WANT</th>
      <th>STATUS</th>
    </tr>
      <% @user.fxrequests.length.times do |num| %>
    <tr>
      <td><%= @user.fxrequests[num].id %> </td>
      <td><%= @user.fxrequests[num].zipcode %></td>
      <td><%= @user.fxrequests[num].amount %></td>
      <td class="source"><%= @user.fxrequests[num].curr_sell %></td>
      <td><%= @fx_rates[num] %></td>
      <td><%= @converted_vals[num] %></td>
      <td class="quote"><%= @user.fxrequests[num].curr_buy %></td>
      <td><%= @user.fxrequests[num].status %></td>
    </tr>
    <% end %>
  </table>

<h3>MATCHED FX's</h3>
  <table>
    <% @fxmatches.length.times do |num| %>
    <tr>
      <th>ID</th>
      <th>ZIPCODE</th>
      <th>CURRENCY <%= @fxmatches[num].requestor.first_name.upcase %> HAS</th>
      <th>HAVE</th>
      <th>RATE</th>
      <th>AMOUNT</th>
      <th>CURRENCY <%= @fxmatches[num].requestor.first_name.upcase %> WANTS</th>
      <th>DIFFERENCE</th>
      <th>EMAIL</th>
    </tr>
    <tr>
      <td><%= @fxmatches[num].id %> </td>
      <td><%= @fxmatches[num].zipcode %></td>
      <td><%= @fxmatches[num].amount %></td>
      <td class="source"><%= @fxmatches[num].curr_sell %></td>
      <td><%= ((@cpty_fx_rates[num].fractional)/100.00).round(2) %></td>
      <td class="requestor"> <%= @cpty_converted_vals[num] %></td>
      <td class="quote"><%= @fxmatches[num].curr_buy %></td>
      <td><%= @target_cpty_difference[num] %></td>
      <td class="requestor"><a href="mailto:<%= @fxmatches[num].requestor.email %>"><%= @fxmatches[num].requestor.email %></a></td>
    </tr>
    <% end %>
  </table>
  <br>


</div>
