<div class="container">
<h1>Welcome <%= @user.first_name %> <%= @user.last_name %>!</h1>

<a href="/fxtrans/new">Create an FX Request</a>

<h3>OPEN FX's REQUEST</h3>

  <table>
    <tr>
      <th>ID</th>
      <th>ZIPCODE</th>
      <th>AMOUNT</th>
      <th>HAVE</th>
      <th>WANT</th>
      <th>AT</th>
      <th>FOR</th>
    </tr>
      <% @user.fxrequests.length.times do |num| %>
    <tr>
      <td><%= @user.fxrequests[num].id %> </td>
      <td><%= @user.fxrequests[num].zipcode %></td>
      <td><%= @user.fxrequests[num].amount %></td>
      <td class="source"><%= @user.fxrequests[num].curr_sell %></td>
      <td class="quote"><%= @user.fxrequests[num].curr_buy %></td>
      <td><%= @fx_rates[num] %></td>
      <td><%= @converted_vals[num] %></td>
    </tr>
    <% end %>
  </table>

<!-- iterate through each fx rate and display -->
<!-- iterate through each converted value and display -->


</div>
