<div class="container">
<h1>Welcome <%= @user.first_name %> <%= @user.last_name %>!</h1>

<% if @open_user_fxrequest.size < 1 %>
  <a href="/fxtrans/new">Create an FX Request</a>
<% else %>
  Currently, you can only process one request at a time!
<% end %>

<% if @open_user_fxrequest.length >= 1 %>
<h3>OPEN FX REQUEST</h3>
  <table>
    <tr>
      <th>ID</th>
      <th>ZIPCODE</th>
      <th>AMOUNT</th>
      <th>CURRENCY YOU HAVE</th>
      <th>AT</th>
      <th>EXPECTED VALUE</th>
      <th>CURRENCY YOU WANT</th>
    </tr>
      <% @open_user_fxrequest.length.times do |num| %>
    <tr>
      <td><%= @open_user_fxrequest[num].id %> </td>
      <td><%= @open_user_fxrequest[num].zipcode %></td>
      <td><%= @open_user_fxrequest[num].amount %></td>
      <td class="source"><%= @open_user_fxrequest[num].curr_sell %></td>
      <td><%= @fx_rates[num] %></td>
      <td><%= @converted_vals[num] %></td>
      <td class="quote"><%= @open_user_fxrequest[num].curr_buy %></td>
    </tr>
  <% end %>
  </table>
<a href="/users/<%= @user.id %>/fxtrans/<%= @user.fxrequests[0].id %>/edit">MODIFY YOUR FX REQUEST</a>
<% end %>


<% if @fxmatches != nil %>
  <h3>MATCHED FX REQUEST</h3>
  <table>
    <tr>
      <th>ID</th>
      <th>ZIPCODE</th>
      <th>CURRENCY CPTY HAS</th>
      <th>HAVE</th>
      <th>RATE</th>
      <th>AMOUNT</th>
      <th>CURRENCY CPTY WANTS</th>
      <th>DIFFERENCE</th>
      <th>EMAIL</th>
    </tr>
    <tr>
    <% @fxmatches.length.times do |num| %>
      <td><%= @fxmatches[num].id %> </td>
      <td><%= @fxmatches[num].zipcode %></td>
      <td><%= @fxmatches[num].amount %></td>
      <td class="source"><%= @fxmatches[num].curr_sell %></td>
      <td><%= @cpty_fx_rates[num] %></td>
      <td class="requestor"> <%= @cpty_converted_vals[num] %></td>
      <td class="quote"><%= @fxmatches[num].curr_buy %></td>
      <td><%= @target_cpty_difference[num] %></td>
      <td class="requestor"><a href="mailto:<%= @fxmatches[num].requestor.email %>"><%= @fxmatches[num].requestor.email %></a></td>
    </tr>
    <% end %>
  </table>
  <br>
<% end %>



</div>
