<div class="container">
  <h1>EDIT YOUR FX REQUEST</h1>
  <form class="fx-request" action="/users/<%= @user.id %>/fxtrans/<%= @user.fxrequests[0].id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <input type="hidden" name="fxtran[requestor_id]" value="<%= session[:user_id] %>"></input>

    <div class="form-group">
      <label for="fxtran_trantype" class="control-label">I HAVE

      <label for="fxtran_amount" class="control-label"></label>
      <input class="form-control" id="fxtran_amount" type="text" name="fxtran[amount]" value="<%= @fxrequest.amount %>">

        OF THIS CURRENCY: </label>
      <select name="fxtran[curr_sell]" >
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option value="CHF">CHF</option>
      </select>
    </div>

    <div class="form-group">
      <label for="fxtran_trantype" class="control-label">I WANT THIS CURRENCY: </label>
      <select name="fxtran[curr_buy]">
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option value="CHF">CHF</option>
      </select>
    </div>

    <div class="form-group">
      <label for="fxtran_zipcode" class="control-label">ZIPCODE: </label>
      <input class="form-control" id="fxtran_zipcode" type="text" name="fxtran[zipcode]" value="<%= @fxrequest.zipcode %>">
    </div>

    <div class="form-group">
      <label for="fxtran_status" class="control-label">STATUS: </label>
      <select name="fxtran[status]">
        <option value="OPEN">OPEN</option>
        <option value="PENDING">PENDING</option>
        <option value="CLOSED">CLOSED</option>
      </select>
    </div>

    <button class="btn btn-primary" type="submit">SUBMIT</button>
  </form>

</div>
