<div class="container">
<h1>All FX's</h1>
  <table>
    <tr>
      <th>ID </th>
      <th>ZIPCODE</th>
      <th>OF</th>
      <th>AMOUNT</th>
      <th>FOR</th>
      <th>AT</th>
      <th>BY</th>
    </tr>
    <% @fxtrans.each do |tran| %>
    <tr>
      <td><%= tran.id %> </td>
      <td><%= tran.zipcode %></td>
      <td><%= tran.curr_buy %></td>
      <td><%= tran.amount %></td>
      <td><%= tran.curr_sell %></td>
      <td>RATE TBD</td>
      <td> <%= tran.requestor.email %></td>
    </tr>
    <% end %>
  </table>

</div>
