<div class="container">
<h1>All FX's</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>BY</th>
      <th>AMOUNT</th>
      <th>HAVE</th>
      <th>WANT</th>
      <th>ZIPCODE</th>
      <th>FOR</th>
    </tr>
    <% @fxtrans.each do |tran| %>
    <tr>
      <td><%= tran.id %> </td>
      <td class="requestor"><%= tran.requestor.first_name %></td>
      <td><%= tran.amount %></td>
      <td class="source"><%= tran.curr_sell %></td>
      <td class="quote"><%= tran.curr_buy %></td>
      <td><%= tran.zipcode %></td>
      <td><a class="fx-rate" href="/fxrate">REQUEST RATE</a></td>
    </tr>
    <% end %>
  </table>

</div>
